.hero{
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(119, 119, 119, 0.45)
    ),
    /* bottom, image */
    url(./../img/hurricane.jpeg);
  background-size: cover;
  width: 100vw;
}

.hero .container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 25%;
}

.hero h1{
  font-size: $xl-size;
  margin-bottom: 10px;
  color: $off-black;
  text-shadow: 2px 2px lighten($off-black, 30%);
  line-height: 120%;
}

.hero p{
  font-size: $m-size;
  font-family: 'Merriweather', sans-serif;
  line-height: 150%;
}