// Colors
$light-grey: #545454;
$off-black: #131B23;
$off-white: #E9F1F7;
$pearl: #E7DFC6;
$blue: #2274A5;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakpoints
$mobile-breakpoint: 640px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;